acmart.pdf
acmguide.pdf
mainbody.pdf
mainbody.synctex
submission.pdf
submission1.pdf
submission2.pdf
submission3.pdf
samples/sample-*.pdf
*.log
*.aux
*.cfg
*.glo
*.idx
*.fls
*.fdb_latexmk
*.toc
*.log
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.gz
*.thm
*.tgz
*.zip
*.rpi
*~
*.bcf
*.run.xml
samples/ACM-Reference-Format.bst
samples/*.tex